.Container {
  padding: 4%;
  align-items: center;
  justify-content: center;
  display: block;
}

.TitlePage {
  font-size: calc(1.375rem + 1.5vw);
  font-family: "Open Sans";
}

.tableType {
  padding: 0.5rem;
}

.totalHours {
  padding: 2% 0;
}
